# Core
pandas
numpy
scikit-learn
seaborn
category-encoders

# Modeling
xgboost
lightgbm
optuna

# Database
SQLAlchemy
psycopg2-binary

# API
fastapi
uvicorn[standard]

# Experiment tracking
mlflow

# Orchestration (local)
apache-airflow

# Monitoring
prometheus-client

# Utils
python-dotenv
pyyaml